<!--
      Module      : forecast.html
      Directive   : forecast.directive.js
      Description : This template of the <forecast> tag to display a forecast in a chart
      History     : 2017-07-06 PPH Created
-->

<div>
    <canvas
        id="line"
        class="chart chart-line"
        chart-data="chartData"
        chart-labels="chartLabels"
        chart-series="chartSeries"
        chart-colors="chartColors"
        chart-options="chartOptions"
        chart-dataset-override="chartDatasetOverride"
    ></canvas>
</div>