<!--
      Module      : weather.html
      Directive   : weather.directive.js
      Description : This template of the <weather> tag to display weather
      History     : 2017-07-06 PPH Created
-->

<div ng-click="onClick()" class="panel panel-primary text-left">

    <div class="panel-heading">

        <span class="pull-right">

            <!-- Show a spinner to inform user data is being loaded -->
            <span ng-if="isLoading === 'true'"><i class="fa fa-fw fa-spinner fa-spin"></i></span>

            <!-- Otherwise show a close button -->
            <span ng-if="!(isLoading === 'true')"><i class="fa fa-fw fa-times remove-weather" ng-click="onRemove(); $event.stopPropagation();"></i></span>

        </span>

        <!-- Show a refresh button -->
        <i class="fa fa-fw fa-refresh refresh-weather" ng-click="onRefresh(); $event.stopPropagation();"></i>

        {{name}}

    </div>

    <div class="panel-body">

        <!-- Inform user about any errors that might have occurred -->

        <div ng-if="error">

            <i class="fa fa-fw fa-exclamation-triangle"></i> {{error}}

        </div>

        <!-- Otherwise it was just fine -->

        <div ng-if="!error">
            <div class="row" ng-repeat="pair in keyValuePairs track by $index">
                <div class={{keyColumns}}>
                    {{pair.key}}
                </div>
                <div class={{valueColumns}}>
                    {{pair.value}}
                </div>
            </div>
        </div>

    </div>
</div>
