<!--
      Module      : overview.html
      Controller  : overview.js
      Description : The overview page of the app
      History     : 2017-07-06 PPH Created
-->

<div ng-controller="OverviewCtrl as model">

    <div ng-include="'app/dialogs/forecast.dialog.html'"></div>

    <br>

    <div class="row animated fadeIn">

        <div class="col-sm-8 col-sm-offset-2">

            <div class="alert alert-info text-center">

                <!-- Title of the page -->

                <h2>
                    {{model.title}}
                </h2>

                <!-- Iterate all cities -->

                <div ng-repeat="city in model.cities">

                    <weather
                        name="{{city.name}}"
                        error="{{city.error}}"
                        key-value-pairs="city.keyValuePairs"
                        key-columns="col-xs-4"
                        value-columns="col-xs-6"
                        is-loading="{{city.isLoadingWeather}}"
                        on-refresh="model.onRefreshWeather(city.name)"
                        on-remove="model.onRemoveWeather(city.name)"
                        on-click="model.onShowForecast(city.name)"
                    ></weather>

                </div>
            </div>
        </div>
    </div>

</div>
