<!--
      Module      : forecast.dialog.html
      Id          : The unique id for this dialog is 'id=forecastDialog'
      Description : The modal dialog for the forecast
      History     : 2017-07-06 PPH Created
-->

<div class="modal fade" id="forecastDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabelForecastDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Header -->

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelForecastDialog">
                    Forecast for {{model.forecast.name}}
                    <!-- Show a spinner to inform user data is being loaded -->
                    <span ng-if="model.forecast.isLoadingForecast"><i class="fa fa-fw fa-spinner fa-spin"></i></span>

                </h4>
            </div>

            <!-- Body -->

            <br>

            <!-- The line chart of the forecast (see chart.js component) -->

            <div class="row">

                <div class="col-xs-10 col-xs-offset-1">

                    <!-- Inform user about any errors that might have occurred -->

                    <div ng-if="model.forecast.error">

                        <i class="fa fa-fw fa-exclamation-triangle"></i> {{model.forecast.error}}

                    </div>

                    <!-- Otherwise it was just fine -->

                    <div ng-if="!model.forecast.error">

                        <forecast
                            chart-labels="model.forecast.chartLabels"
                            chart-series="model.forecast.chartSeries"
                            chart-data="model.forecast.chartData"
                            chart-colors="model.forecast.chartColors"
                            chart-dataset-override="model.forecast.chartDatasetOverride"
                            chart-options="model.forecast.chartOptions"
                        ></forecast>

                    </div>

                </div>

            </div>

            <br>

            <!-- Footer -->

            <div class="modal-footer">

                <!-- The Close button -->

                <div class="text-center">
                    <button class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>
