<!--
      Module      : welcome.html
      Controller  : welcome.js
      Description : The welcome page of the app
      History     : 2017-07-06 PPH Created
-->

<div ng-controller="WelcomeCtrl as model">

    <br>

    <div class="row animated fadeIn">

        <div class="col-sm-8 col-sm-offset-2">

            <div class="alert alert-info text-center">

                <!-- Title of the page -->

                <h2 ng-bind-html="model.title">
                </h2>

                <!-- The Continue button -->

                <div class="text-center">

                    <button class="btn btn-primary" ng-click="model.continueToMainOverview()">
                        {{model.captionContinueToMainOverview}}
                    </button>

                </div>

            </div>
        </div>
    </div>

</div>
